<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdelorenzo.capstoneproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SlideAnimation" >
        </activity>
        <activity
            android:name=".WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.SlideAnimation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jdelorenzo.capstoneproject.MainActivity" />
        </activity>
        <activity
            android:name=".ModifyRoutineActivity"
            android:label="@string/title_activity_modify_workout"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.SlideAnimation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jdelorenzo.capstoneproject.MainActivity" />
        </activity>
        <activity
            android:name=".ViewStatsActivity"
            android:label="@string/title_activity_view_stats"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.SlideAnimation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jdelorenzo.capstoneproject.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.ActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jdelorenzo.capstoneproject.MainActivity" />
        </activity>
        <activity
            android:noHistory="true"
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SlideAnimation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.WorkoutProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".service.DatabaseIntentService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:enabled="true"
            android:name=".widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/workout_widget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service
            android:name="com.jdelorenzo.capstoneproject.sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>
    </application>

</manifest>